# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
psycopg2
beautifulsoup4
requests
bs4

# ----------------------
# Production Server
# ----------------------
gunicorn