{% extends 'base.html' %}

{% block main %}
<div ng-view></div>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

    <!-- Meta info -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Wishers | Username </title>

    <!-- Styles -->
    <link href="../static/css/main.css" rel="stylesheet" media="screen, print" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>-->
    
    
</head>
    <div id="container" ng-app="wish" ng-controller="cardctrl">
        <div id="content">
        	<div id="left">
    			<div id="logo">
    				<a href="index.html">
                		<img src="#" alt="Logo or image">
            		</a>
                </div>
                    
        			<div id="userinfo">
                        <h1>{{ loggedUser.first_name }}&nbsp{{ loggedUser.last_name }}</h1>
                        
                        <h3>Welcome to your wish list</h3>
                        <p>From this page you are able to add new wishes, share wishes with friends and search for potention wishes. </p>
        				<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera.</p>
        				<p class="space-after">que logro hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.</p>
        				<h3>Services</h3>
        				
        			</div>
        			
        			<button id="add" type="button" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-plus"></i></button>
        			<button type="button" class="btn btn-default btn-circle btn-xl" ng-click="shareWish()"><i class="glyphicon glyphicon-share"></i></button>
        			<button type="button" class="btn btn-default btn-circle btn-xl" ng-click="searchWish()"><i class="glyphicon glyphicon-search"></i></button>

            </div>
            
            <div id="right">
                <div class="col-sm-6 col-md-4 col-lg-6">
                    <div class="card" ng-repeat="wish in wishes track by $index">
                        <img class="card-img-top" src= "#">
                        <div class="card-block">
                            <h3 class="card-title">Title</h3>
                            <div class="card-text">
                                Description
                            </div>
                            <div class="card-text">
                                Item can be found at: <a href=" # "></a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small>Added on a day</small>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            
        
        <div id="modal" style="display:none">
            <form id= "form" class= "modal-content">
                <div class="form-group">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <label for="title">Wish Title</label>
                    <input type="text" class="form-control" ng-model="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="description">Wish Description</label>
                    <textarea class="form-control" ng-model="details" placeholder="Give a short description." id="description" required="" data-validation-required-message="Please enter a description."></textarea>
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input ng-model="url" type="text" class="form-control" placeholder="Enter the url for your wish">
                </div>
                <div class="form-group">
                    <label class="form-check-label">Does this url have a photo of your wish?</label>
                    <input type="radio" class="form-check-input" name="optionsRadios" id="yes" value="yes"> Yes
                    <input type="radio" class="form-check-input" name="optionsRadios" id="no" value="no"> No
                </div>
                <div class="form-group">
                    <label for="thumbnail">Thumbnail</label>
                    <div class = "imgoptions" ng-repeat="option in options track by $index">
                        <img class="imgs" data-ng-src="{{ option }}" ng-src= "{{ option }}" data-src = "{{ option }}"> 
                    </div>
                </div>
                <div class="modal-footer"> 
                    <button type="button" class="btn btn-danger"> Close</button>
                    <button id="submit" ng-click="addWish()" type="button" class="btn btn-success">Add Wish</button> 
                </div>
            </form>
        </div>
        </div>
        
        
        <footer id="msf">
            <div class="wrapper">
                <ul id="lets-be-social">
                    <li>
                        <a href="https://twitter.com/198sevenblog" rel="external" target="_blank" title="Follow 198seven on Twitter">Twitter.</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/198sevenblog" rel="external" target="_blank" title="Be 198seven Facebook friend">Facebook.</a>
                    </li>
                    <li>
                        <a href="http://www.pinterest.com/198seven" rel="external" target="_blank" title="My Pinterest pins">Pinterest.</a>
                    </li>
                </ul>
                <div id="legal">
                 <span>Designed by Damian Whyte</span>
                </div>
            </div>
        </footer>
    </div><!-- container -->
    
    <script src="/static/js/app.js"></script>
    

        
<!-- Side nav bar that will push out on click -->
    
 <!--   <nav id="toc">-->
 <!--       <ul>-->
 <!--           <li>-->
 <!--               <a href="index.html">Work.</a></li>-->
 <!--           <li>-->
 <!--               <a href="about.html">About.</a></li>-->
 <!--           <li>-->
 <!--               <a href="what-we-do.html">What we do.</a></li>-->
 <!--       </ul>-->
	<!--</nav>-->
    
 <!--   <div id="no-script">-->
 <!--       <div>-->
 <!--           <p>-->
 <!--               The Pyaari website is fully responsive and requires Javascript.<br />-->
 <!--               Please <a href="http://enable-javascript.com/">enable javascript</a> to use this site without issue.</p>-->
 <!--       </div>-->
 <!--   </div><!-- no-script -->


{% endblock %}